
/*//////////////////////////////////////Global Styles///////////////////////////////////////*/

body, html {
    width: 100%;
    /*height: 100%;*/  /*TURN IT OFF SO THAT I CAN DETECT SCROLL AMOUNT -- DOESN'T SEEM TO IMPACT ANYTHING ELSE?*/
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.section-title {
  text-align: center;
  opacity: 0.80;
  font-size: 2.5rem;
}

.section-title:after {
  content: "";
  display: block;
  height: 3px;
  position: relative;
  width: 160px;
  background-color: #55c0ec;
  margin: 5px auto;
  bottom: 0px;
  -webkit-transform: translateY(-280%);
          transform: translateY(-280%);

}


a { color: inherit; }

p{
  color:#3f3f3f;

}

    .robot-img {
      width: 400px;
      height: 400px;
    }




/*//////////////////////////////////////Global Styles///////////////////////////////////////*/




/*//////////////////////////////////////Header///////////////////////////////////////////////*/

.nav-header {
  background-color: #40596b;
  width: 100%;
  padding: 1.15rem 0;
  text-align: center;
}

.nav-header a:link,
.nav-header a:visited {
  text-decoration: none;
  color: #ffd05a;
  font-family: 'Signika', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  display: inline-block;
  -webkit-transition: color .3s;
  transition: color .3s;
  margin-right: 0.75rem;
}

.nav-header a:hover,
.nav-header a:active {
  color: #fff;
}

.nav-header a:last-child {
  margin-right: 0;
}

/*//////////////////////////////////////Hero///////////////////////////////////////*/
.home{
  /*height: 495px;*/
  background-color: #55c0ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-div{
  /*height: 432px;*/
  -ms-flex-preferred-size: 1200px;
      flex-basis: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.25rem 0;
}

.hero-description{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*height: 280px;*/
  -ms-flex-preferred-size: 548px;
      flex-basis: 548px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  font-family: "Signika", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-description-tickybot{
  font-size: 4.75rem;
  font-weight: 300;
  margin: 0px;
  color: #244D5E;

}

.hero-description-content{
  color: white;
  font-size: 1.75rem;
  font-weight: 300;
  text-align: center;
}

/*#hero-description-slack{
  background-color: blue;
}*/

.img-div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*height: 400px;*/
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 1rem 1rem 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*//////////////////////////////////////End of Hero///////////////////////////////////////*/


/*//////////////////////////////////////What is TickyBot///////////////////////////////////////*/
.what-is-container{
	display: grid;
	font-family: "Signika", sans-serif;
	padding: 0 1rem;
	background-color: #fafafa;
  width: auto;
  font-size: 1.25rem;
	margin: 0 auto;
	grid-column-gap:20px;

	grid-auto-columns: 1fr 1fr;
	grid-auto-rows: auto;
	grid-template-areas:"title title"
						 "p1 p2"
						 "three three"
}

.what-is-title{
	font-weight: 300;
	letter-spacing: -.125rem;
	line-height: 1.25;
	grid-area: title;
}

.test{

}
.ticky{
	font-weight: 600;

}

.what-is-p1{
	grid-area:p1;
	font-weight: 300;
	line-height: 1.5em;
	margin-left: 1em;
	margin-bottom: 1rem;
  margin-right: 1em;
	margin-top: 0;
}
.what-is-p2{

	grid-area:p2;
	font-weight: 300;
	line-height: 1.5em;
	margin-bottom: 1rem;
  margin-left: 1em;
  margin-right: 1em;
	margin-top: 0;

}
.what-is-p3{
	grid-area: three;
	font-weight: 300;
	margin-bottom: 2.5rem;
	margin-left: 1em;
	margin-top: 2em;
	margin-right: 1em;
	line-height: 1.5em;

}

/*//////////////////////////////////////What is TickyBot///////////////////////////////////////*/
/*//////////////////////////////////////How It Works (beginning)///////////////////////////////////////*/

.how-it-works-container{
  background-color: #92DCAB;
  font-family: "Signika";
  font-size: 1.25rem;
  padding-top: 6px;
  padding-bottom: 1rem;
  /*display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-areas: "title"
                       "body";*/
}

.how-it-works-title{
  /*grid-area: title;*/
  font-weight: 300;
  letter-spacing: -.125rem;
  line-height: 1.25;
}

.how-it-works-body-container{
  /*grid-area: body;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how-it-works-body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #41596A;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  height: 490px;
  margin: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 5px 0px 0px;
}

.how-image {
  width: 224px;
  height: 230px;
  margin: 40px;
  padding-top: 24px;
}

.how-it-works-text-container {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  /*height: 95px;*/
}

.how-it-works-text {
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.codeblock {
  color: #DA1B40;
  background-color: #eee;
  font-family: "Courier New";
  font-size: 12pt;
  font-weight: 500;
}
/*//////////////////////////////////////How It Works (end)///////////////////////////////////////*/
/*//////////////////////////////////////Start Using TickyBot///////////////////////////////////////*/

.start-using-container{
  /*display: grid;*/
	font-family: "Signika", sans-serif;
	padding: 0 1rem;
  background-color: #fafafa;
  width: auto;
  font-size: 1.25rem;
	margin: 0 auto;
  border-top: white solid 1px;

}

.start-using-title{
	font-weight: 300;
	letter-spacing: -.125rem;
  margin-bottom: 50px;


}


.flex1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.flex2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.flex3{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.start-using-p1{
	/*display: flex;*/
	font-weight: 300;
	line-height: 1.5em;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 0;
  /*margin: 190px;*/
  margin-bottom: 4rem;
  margin-top: 0;


}



/*Slack Button*/
.start-using-img{
    margin: 0 1rem 0 0;
    padding: 0;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    width: 2.5rem;
    background-color: rgba(#fff, .9);
    -webkit-transform: scale(.98);
            transform: scale(.98);

}


.btn1:hover img {
    -webkit-transform: scale(1.5) rotate(18deg);
            transform: scale(1.5) rotate(18deg);
}

.btn1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #40596b;
  cursor: pointer;
  text-align: center;
  border: 0;
  border-radius: 4px;
  line-height: 1;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 1rem;
  text-decoration: none;
  width: 100%;
  font-size: 1.75rem;
  max-width: 300px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-align: center;
  transition: background-color .3s ease-in-out,transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
  width: 100%;

}

.white-btn {
  background-color: #fff;
}

.btn1:hover{
  background-color: rgba(0,0,0,.7);
  -webkit-transform: scale(.98);
          transform: scale(.98);
  color: hsla(0,0%,100%,.9);
}

.white-btn:hover {
  background-color: hsla(0, 0%, 100%, 0.9);
}


/*.ab-white .ac-white{
  color: #40596b;
  font-family: Signika,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 600;
}*/

/*.ac {
  font-weight:600;
}*/

.ab{
  font-weight: 300;
  color:#e7eaec;
  font-family: Signika,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.ab-white{
  /*font-weight: 300;*/
  color: #40596b;
}

.strong{
  font-weight:600;
}

/*Slack Button*/


.start-using-p2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-weight: 300;
  max-width: 600px;

}

/*//////////////////////////////////////Start Using TickyBot///////////////////////////////////////*/

/*//////////////////////////////////////Footer///////////////////////////////////////*/

footer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #40596b;
  padding-bottom: 1rem;
  padding-top: 1rem;


}

footer p{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: hsla(0,0%,100%,.75);
  margin: 0 auto;
  font-family: 'Signika', sans-serif;
  font-size: 1.25rem;
  max-width: 1200px;
  width: 100%;

/*  box-sizing: inherit;*/
}

.footer-p1{

  font-size: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c6cdd3;
  margin-bottom: .25rem;
  font-size: .825rem;
  line-height: 1.5;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;


}



.footer-p2{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c6cdd3;
  margin-bottom: .25rem;
  font-size: .825rem;
  line-height: 1.5;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}


.footer-p3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .825rem;
  margin-bottom: .25rem;
  color: #c6cdd3;
  line-height: 1.5;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

/*//////////////////////////////////////Footer///////////////////////////////////////*/




/*//////////////////////////////////////Back to Top Button///////////////////////////////////////*/

/*Using visibility + opacity in transition keeps the animation smooth and keeps the button from
being operable when it's not visible*/

.back-to-top-btn {
  width: 45px;
  height: 45px;
  font-family: 'Signika', sans-serif;
  background-color: #ffd05a;
  border-radius: 4px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: background-color .3s, visibility 1.5s, opacity 1.5s;
  transition: background-color .3s, visibility 1.5s, opacity 1.5s;
}

.back-to-top-btn:hover {
  background-color: #ffc638;
  cursor: pointer;
}

.back-to-top-btn-show {
  opacity: 1;
  visibility: visible;
}


/*//////////////////////Animations on Page Load & How it Works Animations/////////////////////////////////////////////*/

/*Trigger for animation*/
.animate {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animateHiW {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/*Fade in down animation*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

.fadeInDownImages {
  -webkit-animation-name: fadeInDownImages;
          animation-name: fadeInDownImages;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15%, 0);
            transform: translate3d(0, -15%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15%, 0);
            transform: translate3d(0, -15%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInDownImages {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
            transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDownImages {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
            transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

/*Specify delay so that elements appear one after the other*/

.one {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.twoHiW {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.two {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.three {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.four {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.five {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

/* <<<<<<< add-mrrobot */
  .robot-img {
  width: 400px;
  height: 400px;
  }

/*Hide How it Works Cards until scrolled*/

.hidden {
  opacity: 0;
}

/*//////////////////////////////////////Media Queries///////////////////////////////////////*/




/* for desktop */
@media only screen and (max-width: 1156px){
  .how-it-works-body-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .how-it-works-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(33.33333% - 2rem);
            flex: 1 0 calc(33.33333% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }

}

/* for tablet-portrait */
@media only screen and (max-width: 840px){

.home{
  /*height: 1000px;*/
  background-color: #55c0ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-div{
  /*height: 950px;*/
 /* flex-basis: 1200px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-description{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*height: 280px;*/
  -ms-flex-preferred-size: 548px;
      flex-basis: 548px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  font-family: "Signika", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
 /* flex-wrap: wrap;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*height: 400px;*/
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 1rem 1rem 2rem;
  /*margin-bottom: 5em;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

    .robot-img {
      width: 300px;
      height: 300px;
    }


/*-------------*/

.hero-div{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "one"
                        "two"
                        /*"three"*/
                        /*"four"*/
}



/*#hero-description-tickybot{
  grid-area:one;
}*/

.hero-description-content{
  grid-area:one;
}

/*#hero-description-slack{
 grid-area:three;
}*/

.img-div{
  grid-area:two;
}




  .what-is-container{
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title"
                          "p1"
                          "p2"
                          "three"
  }

    .what-is-p1{
         margin-bottom: 60px;
    }

     .what-is-p2{

    }

     .what-is-p3{
      margin-bottom:56px;
    }

    .start-using-p1{
        margin-left:20px;
        text-align: center;
        margin-right:20px;
    }
    .start-using-p2{
        margin-left:20px;
        text-align: center;
        margin-right:20px;
    }

}

/* for phone ---- changed to 450px */
@media only screen and (max-width: 450px){

    .nav-header a:link,
    .nav-header a:visited {
      margin-right: 0.6rem;
    }

    .section-title {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    /*.home{
      height: 940px;
    }*/

    /*#hero-div{
      height: 780px;
    }*/

    /*#hero-description {
      margin-top: 0;
    }*/

    /*#hero-description-content {
      font-size: 1.65rem;
      margin: 1.75rem;
    }*/

    .btn1 {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    /*#img-div{
      margin: 0;
      margin-bottom: 0;
    }*/

    .how-it-works-body:first-child {
      margin-top: 0.5rem;
    }

    .start-using-p1 {
      margin-left: 0.55rem;
      margin-right: 0.55rem;
    }

    footer {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
}

@media only screen and (max-width: 350px) {
  .nav-header a:link,
  .nav-header a:visited {
    margin-right: 0.75rem;
  }
  .small-screen-nav-wrap {
    padding-top: 0.75rem;
  }
  .section-title {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }
  /*.home{
    height: 850px;
  }*/
  /*#hero-description-content {
    margin-top: 1.25rem;
  }*/

  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
}
