
/*//////////////////////////////////////Global Styles///////////////////////////////////////*/

body {
  margin: 0;   /*to extend divs to the edge of window*/
}

.section-title {
  text-align: center;
  opacity: 0.80;

}

.section-title:after {
  content: "";
  display: block;
  height: 3px;
  position: relative;
  width: 160px;
  background-color: #55c0ec;
  margin: 5px auto;
  bottom: 0px;
  transform: translateY(-280%);

}



/*//////////////////////////////////////Global Styles///////////////////////////////////////*/




/*//////////////////////////////////////Header///////////////////////////////////////////////*/

.nav-header {
  background-color: #40596b;
  width: 100%;
  padding: 1.15rem 0;
  text-align: center;
}

.nav-header a:link,
.nav-header a:visited {
  text-decoration: none;
  color: #ffd05a;
  font-family: 'Signika', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  display: inline-block;
  transition: color .3s;
  margin-right: 0.75rem;
}

.nav-header a:hover,
.nav-header a:active {
  color: #fff;
}

.nav-header a:last-child {
  margin-right: 0;
}



/*//////////////////////////////////////What is TickyBot///////////////////////////////////////*/
.what-is-container{
	display: grid;
	font-family: "Signika", sans-serif;
	padding: 0 1rem;
	background-color: #fafafa;
    width: auto;
    font-size: 1.25rem;
	margin: 0 auto;
	grid-column-gap:20px;
	grid-auto-columns: 1fr 1fr;
	grid-auto-rows: auto;
	grid-template-areas:"title title"
						 "p1 p2"
						 "three three"
}

.what-is-title{
	font-weight: 300;
	letter-spacing: -.125rem;
	line-height: 1.25;
	grid-area: title;
}

.test{

}
.ticky{
	font-weight: 600;

}

.what-is-p1{
	grid-area:p1;
	font-weight: 300;
	line-height: 1.5em;
	margin-left: 1em;
	margin-bottom: 1rem;
	margin-top: 0;
}
.what-is-p2{

	grid-area:p2;
	font-weight: 300;
	line-height: 1.5em;
	margin-bottom: 1rem;
	margin-top: 0;

}
.what-is-p3{
	grid-area: three;
	font-weight: 300;
	margin-bottom: 1rem;
	margin-left: 1em;
	margin-top: 2em;
	margin-right: 1em;
	line-height: 1.5em;

}

/*//////////////////////////////////////What is TickyBot///////////////////////////////////////*/
/*//////////////////////////////////////How It Works (beginning)///////////////////////////////////////*/

.how-it-works-container{
  background-color: #92DCAB;
  font-family: "Signika";
  font-size: 1.25rem;
  padding-top: 6px;
  padding-bottom: 40px;
  /*display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-areas: "title"
                       "body";*/
}

.how-it-works-title{
  /*grid-area: title;*/
  font-weight: 300;
  letter-spacing: -.125rem;
  line-height: 1.25;
}

.how-it-works-body-container{
  /*grid-area: body;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.how-it-works-body{
  display: flex;
  flex-direction: column;
  background-color: #41596A;
  flex-basis: 350px;
  height: 490px;
  margin: 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}

.how-image {
  width: 196px;
  height: 230px;
  margin: 40px;
  padding-top: 24px;
}

.how-it-works-text{
  background-color: white;
  margin: 0px;
  font-weight: 300;
  line-height: 1.5em;
  padding: 20px;
  height: 95px;
  text-align: center;
}

.codeblock {
  color: #DA1B40;
  background-color: #eee;
  font-family: "Courier New";
  font-size: 12pt;
  font-weight: 500;
}
/*//////////////////////////////////////How It Works (end)///////////////////////////////////////*/
/*//////////////////////////////////////Start Using TickyBot///////////////////////////////////////*/

.start-using-container{
	display: grid;
	font-family: "Signika", sans-serif;
	padding: 0 1rem;
    width: auto;
    font-size: 1.25rem;
	margin: 0 auto;
}

.start-using-title{
	font-weight: 300;
	letter-spacing: -.125rem;

}


.flex1{
	display: flex;
	justify-content: center;
}
.flex2{
	display: flex;
	justify-content: center;
}
.flex3{
	display: flex;
	justify-content: center;
}
.start-using-p1{
	display: flex;
	font-weight: 300;
	justify-content: center;
	line-height: 1.5em;
	justify-content: center;
	text-align: center;
	margin: 190px;
	margin-bottom: 4rem;
	margin-top: 0;
}

/*Slack Button*/
.btn1{
  display: flex;
  background-color: #40596b;
  cursor: pointer;
  text-align: center;
  border: 0;
  border-radius: 4px;
  line-height: 1;
  justify-content: center;
  padding: 1rem;
  text-decoration: none;
  width: 100%;
  font-size: 1.75rem;
  max-width: 300px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  align-items: center;
  -webkit-box-align: center;
  transition: background-color .3s ease-in-out,transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
  width: 100%;

}

.btn1:hover{
  background-color: rgba(0,0,0,.7);
  transform: scale(.98);
  color: hsla(0,0%,100%,.9);
}

.ab .ac{
  color:white;
  font-family: Signika,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.ab{
  font-weight: 400;
  color:white;
}

.ac{
  font-weight:600;
}
/*Slack Button*/


.start-using-p2{
	display: flex;
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-weight: 300;
}

/*//////////////////////////////////////Start Using TickyBot///////////////////////////////////////*/


/* for desktop */
@media only screen and (min-width: 1200px){
  /* all the css above should go here i think? */
}

/* for tablet-portrait */
@media only screen and (min-width: 600px){
}

/* for phone */
@media only screen and (max-width: 599px){
}
